@font-face {
    font-family: "Yackien";
    src: url(/assets/fonts/Yackien.ttf);
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding-bottom: 100px; 
    height: 100%;
}

.main-heading{
    font-size: 7rem;
    font-family: Yackien;
    background-color: rgba(255, 255, 255, .2);
    color: #000;
    text-align: center;
    text-shadow: -2px -2px 0 yellow ;
    width:100%;
    padding-top: 18px;
    margin: 0;
    position: fixed;
    z-index: 2;
}

.catch-phrase{
    display: block;
    font-size: 3rem;
    font-family: Yackien;
    font-style: italic;
    color: gold;
    text-shadow: -2px -2px 0 black;
    transform: scale(1.5, 1);
}

.bad-rabbit{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/signature.png);
    background-size: cover;
    background-position: center 35%;
    background-repeat: no-repeat;
    opacity: 1; 
    z-index: -1;  
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    min-width: calc(100vh - 150px);
    overflow-y: auto;
    position: fixed; 
    top: 40%;
    left: 28%;
}

.paragraph-1{
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    max-width: 1000px;
    background-color: rgba(9, 9, 9, 0.4);
    color: rgba(255, 255, 255, .8);
    text-shadow: -2px -2px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin: 0 auto;
    border: 2px solid gold;
    border-radius: 8px;

}
.sidebar{
    
    width: 222px;           
    height: 100%;         
    /* background-color: rgba(100, 255, 255, .1);  */
    z-index: 1000;
    top: -50px;
    left: -220px;
    bottom: 100px;
    transition: left 0.3s ease;
    position: fixed;
    
    
}

.sidebar:hover{

    left:0;

}

.sidebar .yellow-samurai{
    max-width: 90%;
    height: auto;
    margin-left: 8px;
    margin-top: 250px;
    padding-bottom: 20px;
    border-bottom:2px solid gold;

}

.sidebar .red-samurai{
    max-width: 90%;
    height: auto;
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 100%;
    padding-top: 20px;
    border-top:2px solid gold;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.sidebar li{
    
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 50px;
    margin-left: 10px;
}

.sidebar a{
    color: gold;
    font-family: Yackien;
    text-shadow: -3px -3px 0 blue;
    text-decoration: none;
}

.sidebar a:hover{
    background-color: none;
    color: black;
    text-shadow: -2px -2px gold;
}

.foot{
    bottom: 0;
    position: fixed;
    left: 0;
    margin-left: 1200px;
    width: 100%;
    font-size: 1rem;
    display: block;
    color: white;
}

